---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content="LettersIQ for monitoring severance notifications from the Texas Railroad Commission" />
  
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JLT6WXDYCK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-JLT6WXDYCK');
  gtag('config', 'AW-16667114456');

</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TFL6VJ9B');</script>
  <!-- End Google Tag Manager -->

  <!-- Open Graph meta tags -->
  <meta property="og:title" content="LettersIQ - Automatic Notifications of RRC Violations" />
  <meta property="og:description" content="LettersIQ provides automatic notifications of violations from the Texas Railroad Commission, helping you stay compliant and avoid costly severance actions." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://lettersiq.com" />
  <meta property="og:image" content="/lettersiqlogo.png" />
  
<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-16667114456"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-16667114456');
</script>

  
  <title>{title}</title>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFL6VJ9B"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <slot />
  <style is:global>
    html {
      font-family: Inter;
      background-color: #26272b;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  </style>
</body>
</html>